.profile__title-button-wrapper {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 720px) {
  .profile__title-button-wrapper {
    justify-content: center;
    gap: 10px;
    align-self: center;
  }
}
